[submodule "Git"]
	path = Git
	url = git@github.com:ManueldG/git
[submodule "Sql"]
	path = Sql
	url = git@github.com:ManueldG/Tutorial_SQL.git
[submodule "Postgresql-note"]
	path = Postgresql-note
	url = ssh://git@github.com/ManueldG/Postgresql-note
